body {
    background: linear-gradient(45deg, rgb(40, 162, 243), rgb(75, 212, 87));
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.calc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.calc {
    width: fit-content;
    border: 1px solid black;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows:  repeat(6, 100px);
}


.calc button {
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    background: linear-gradient(45deg, rgb(134, 202, 223), rgb(156, 222, 241));
}

.calc button:hover {
    opacity: 0.75;
}

.span-two {
    grid-column: span 2;
}

.calc-output {
    grid-column: 1 / -1;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.calc-output .output-prev-operand {
    font-size: 1.5rem;
    opacity: 0.75;
}

.calc-output .output-current-operand {
    font-size: 2.5rem;
}